/*Universidad Autónoma Metropolitana
Unidad Cuajimalpa
Licenciatura en Tecnologías y Sistemas de Información
UEA: Laboratorio Tematico IV
Profesora: Gabriela Ramírez de la Rosa
Equipo: Tematic Theam
Integrantes: Cruz Estrada Luis Guillermo
			    García Zepeda Juan Carlos
			    Martínez Garay Ximena Itzel
			    Martínez Ruiz Alan
			    Valadez Vazquez Lucia*/


/* Estilos para la página principal */

body {
    background: #AED6F1;
    font-size: 15px;
    font-family: Cambria;
    height: 1000px;
    color: black;
}

h1 {
    text-align: center;
}


/* Estilos para la barra de navegación*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #25557A;
    color: #FFFFFF;
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1.5em;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}


/* Estilos para los contenedores */

figure {
    padding-left: 300px;
}

.agresor {
    margin-top: 3em;
    margin-bottom: 50px;
}

.victima {
    margin-top: 3em;
}

.grafica {
    margin-left: 150px;
    width: 1000px;
    height: 400px;
    margin-top: 6em;
    padding: 1em;
    background: #407ead;
    border: 2px double #12293B;
    border-radius: 40px;
    font-size: 1.2em;
    color: wheat;
}

#laGrafica {
    width: 30%;
    height: 30px;
    margin-top: 0;
    float: right;
}

.victima,
.agresor {
    float: left;
    width: 1000px;
    height: 280px;
    padding-left: 2em;
    margin-left: 150px;
    background: #407ead;
    border: 2px double #12293B;
    border-radius: 40px;
    font-size: 1em;
    color: wheat;
}

.rangos {
    float: left;
    width: 1000px;
    height: 280px;
    padding-left: 2em;
    margin-left: 150px;
    background: #407ead;
    border: 2px double #12293B;
    border-radius: 40px;
    font-size: 1em;
    color: wheat;
}

.rangos {
    margin-top: 3em;
}


/* Estilos para las imagenes */

.imagena {
    width: 180px;
    margin-left: 40%;
}

.button {
    background-color: #a2d2ff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/*Estilos para el pie de pagina*/

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #12293B;
    color: black;
    overflow: hidden;
}

.contenedor-footer {
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px, solid darkgray;
}

.content-foo {
    text-align: auto;
}

.content-foo h4 {
    font-size: 18px;
    text-align: left-side;
    color: #d3d3d3;
    border-bottom: 2px solid cyan;
    padding-left: 2px;
    margin-bottom: 2px;
}

.content-foo p {
    color: #d3d3d3;
    font-size: 14px;
}

.titulo-final {
    text-align: center;
    font-size: 19px;
    margin: 3px 0 0 0;
    color: #d3d3d3;
    bottom: 0;
}

footer a {
    color: #FBEDFF;
}

.cuatro {
    background-color: #ff0000;
    border: solid white 5px;
    border-radius: 2px;
    color: white;
    font-size: 22px;
}