body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #AED6F1;
    color: black;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1.2px;
    font-family: Cambria;
}


/*Barra de navegación*/

.header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #25557A;
    color: #FFFFFF;
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1.5em;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

#contiene {
    width: 80%;
    margin-top: 10%;
    text-align: center;
    margin-left: 10%;
    font-size: 50px;
    background-color: #6FB1ED;
}

.buttons {
    margin-top: 20%;
    background-color: #2574DB;
    border: none;
    color: black;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 35%;
    margin-left: 35%;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #12293B;
    color: black;
    overflow: hidden;
}

.contenedor-footer {
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px, solid darkgray;
}

.content-foo {
    text-align: auto;
}

.content-foo h4 {
    font-size: 18px;
    text-align: left-side;
    color: #d3d3d3;
    border-bottom: 2px solid cyan;
    padding-left: 2px;
    margin-bottom: 2px;
}

.content-foo p {
    color: #d3d3d3;
    font-size: 14px;
}

.titulo-final {
    text-align: center;
    font-size: 19px;
    margin: 3px 0 0 0;
    color: #d3d3d3;
    bottom: 0;
}

footer a {
    color: #FBEDFF;
}